.products-wrapper .shirts-container button, .products-wrapper .hoodies_container button, .products-wrapper .accessories_container button, .products-wrapper .party-package-container button {
  position: absolute;
  bottom: 0;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  background-color: transparent;
  color: #f5de5d;
  background-image: url("../assets/background-png/card-wave-black.png");
  background-size: cover;
  background-position: 100% 98%;
  background-repeat: no-repeat;
  border: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 5px 25px 5px 25px;
  padding-top: 2rem;
  width: 100%;
}

.products-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  width: 100%;
  padding-bottom: 6rem;
  background-image: url("../../../../assets/background-png/bg-component-up.svg");
  background-size: cover;
}
.products-wrapper .shirts-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 300px;
  border: 2px solid #000;
  border-radius: 8px;
  background-color: #fff;
}
.products-wrapper .shirts-container:is(:hover, :focus-visible) {
  border: 2px solid #f5de5d;
}
.products-wrapper .shirts-container:is(:hover, :focus-visible) button {
  background-image: url("../../../../assets/background-png/card-wave.png");
  color: #000;
  cursor: pointer;
}
.products-wrapper .shirts-container .shirts-thumbnail {
  width: 220px;
}
.products-wrapper .hoodies_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 300px;
  border: 2px solid #000;
  border-radius: 8px;
  background-color: #fff;
}
.products-wrapper .hoodies_container:is(:hover, :focus-visible) {
  border: 2px solid #f5de5d;
}
.products-wrapper .hoodies_container:is(:hover, :focus-visible) button {
  background-image: url("../../../../assets/background-png/card-wave.png");
  color: #000;
  cursor: pointer;
}
.products-wrapper .hoodies_container .hoodies-thumbnail {
  width: 220px;
}
.products-wrapper .accessories_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 300px;
  border: 2px solid #000;
  border-radius: 8px;
  background-color: #fff;
}
.products-wrapper .accessories_container:is(:hover, :focus-visible) {
  border: 2px solid #f5de5d;
}
.products-wrapper .accessories_container:is(:hover, :focus-visible) button {
  background-image: url("../../../../assets/background-png/card-wave.png");
  color: #000;
  cursor: pointer;
}
.products-wrapper .accessories_container .accessories-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
}
.products-wrapper .accessories_container .accessories-thumbnail {
  width: 140px;
}
.products-wrapper .party-package-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  border: 2px solid #000;
  border-radius: 8px;
  background-color: #fff;
}
.products-wrapper .party-package-container::after {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans", sans-serif;
  content: "Coming Soon";
  position: absolute;
  top: 0;
  width: 100%;
  height: 2rem;
  background-color: #000;
  color: #f5de5d;
  font-weight: 700;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.products-wrapper .party-package-container:is(:hover, :focus-visible) {
  border: 2px solid #f5de5d;
}
.products-wrapper .party-package-container:is(:hover, :focus-visible) button {
  background-image: url("../../../../assets/background-png/card-wave.png");
  color: #000;
  cursor: pointer;
}
.products-wrapper .party-package-container:is(:hover, :focus-visible)::after {
  background-color: #f5de5d;
  color: #000;
}
.products-wrapper .party-package-container .party-packge-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -2rem;
}
.products-wrapper .party-package-container .party-packge-img-container .inner-img-container {
  display: flex;
  flex-direction: column;
}
.products-wrapper .party-package-container .party-packge-img-container .inner-img-container .party-package-thumbnail {
  width: 110px;
}
.products-wrapper .party-package-container .music-and-peace-thumbnail {
  width: 170px;
}

@media only screen and (min-width: 576px) {
  .shirts-container,
  .hoodies_container,
  .accessories_container,
  .party-package-container {
    width: 390px !important;
  }
  .shirts-container button,
  .hoodies_container button,
  .accessories_container button,
  .party-package-container button {
    background-position: 100% 93% !important;
  }
}/*# sourceMappingURL=Products.css.map */