@use '../../sass/variables' as v;

.carousel-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: v.$components-gap;

  .carousel-container {
    position: inherit;
    display: flex;
    height: fit-content;
    width: 900px;
    .image-container {
      .img {
        height: 600px;
      }
    }

    .back-arrow {
      position: absolute;
      left: calc(10rem / 2);
      bottom: calc(100% / 2);
      color: v.$main-white;
      font-size: 25px;

      &:is(:hover, :focus-visible) {
        cursor: pointer;
      }
    }

    .forward-arrow {
      position: absolute;
      right: calc(10rem / 2);
      bottom: calc(100% / 2);
      color: v.$main-white;
      font-size: 25px;

      &:is(:hover, :focus-visible) {
        cursor: pointer;
      }
    }
  }

  .dots-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    position: absolute;
    bottom: -2rem;

    .dot {
      font-size: 23px;
    }

    .actual-dot {
      color: v.$main-soft-yellow;
    }
  }
}

.show {
  z-index: 3;
}

//Animations
@keyframes slidemove {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(0%);
  }
}
