@use '../../../../sass/variables' as v;
@forward '../../../../sass/templates';
.decor-container {
  font-family: v.$font-family;
  overflow-x: hidden;
  padding-bottom: 8px;

  .decor-text {
    color: v.$main-light-pink;
    font-size: v.$fs-h1;
    font-weight: v.$font-weight-800;
    height: 3rem;
    width: 200%;

    animation: decor-slide 10s infinite cubic-bezier(0.35, 0.85, 0.85, 0.35);
  }
}

@keyframes decor-slide {
  0% {
    transform: translateX(350px);
  }

  100% {
    transform: translateX(-550px);
  }
}

@media only screen and (min-width: 576px) {
  .decor-container {
    padding-top: 1rem;
  }
}
