@use '../../../../sass/variables' as v;
@forward '../../../../sass/templates';
.decor-container {
  font-family: v.$font-family;
  overflow-x: hidden;
  padding-bottom: 8px;

  .decor-text {
    color: v.$main-light-pink;
    font-size: v.$fs-h1;
    font-weight: v.$font-weight-800;
    height: 3rem;
    width: 200%;

    animation: decor-slide 10s infinite cubic-bezier(0.35, 0.85, 0.85, 0.35);
  }
}

@keyframes decor-slide {
  0% {
    transform: translateX(750px);
  }

  100% {
    transform: translateX(-750px);
  }
}
@keyframes decor-slide-desktop {
  0% {
    transform: translateX(1300px);
  }

  100% {
    transform: translateX(-950px);
  }
}
@keyframes decor-slide-xldesktop {
  0% {
    transform: translateX(2200px);
  }

  100% {
    transform: translateX(-1100px);
  }
}
//Media Queries

@media only screen and (min-width: 576px) {
  .decor-container {
    padding-top: 1rem;
  }
}
@media only screen and (min-width: 880px) {
  .decor-container {
    padding-top: 4rem;
  }
}
@media only screen and (min-width: v.$breakpoint-lg) {
  .decor-text {
    animation: decor-slide-desktop 10s infinite cubic-bezier(0.35, 0.85, 0.85, 0.35) !important;
  }

  .decor-container {
    padding-top: 5rem;
  }
}
@media only screen and (min-width: v.$breakpoint-xl) {
  .decor-container {
    padding-top: 9rem;
  }
}
@media only screen and (min-width: v.$breakpoint-xxl) {
  .decor-text {
    animation: decor-slide-xldesktop 10s infinite cubic-bezier(0.35, 0.85, 0.85, 0.35) !important;
  }
  .decor-container {
    padding-top: 3.5rem !important;
    padding-bottom: 1rem !important;
  }
}
