@use '../../../../sass/variables' as v;
@forward '../../../../sass/templates';

.bestsellers-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: v.$components-gap;
  background-color: v.$main-white;

  .bestsellers-container {
    display: flex;
    flex-direction: column;

    align-items: center;

    width: v.$mobile-s-width;

    .bestsellers-title {
      margin-bottom: 2rem;
      @extend %titleBars;
    }

    .bestsellers-actual-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: v.$font-family;
      font-weight: v.$font-weight-600;
      font-size: 18px;
      display: flex;
      justify-content: center;
      gap: 3rem;
      width: 100%;

      .bestsellers-actual {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: v.$mobile-s-width;

        &:is(:hover, :focus-visible) {
          box-shadow: 0px 0px 15px 3px v.$main-light-pink;
          cursor: pointer;
          border-radius: 1rem;

          .price-container {
            background-color: v.$main-light-pink;
            color: v.$main-white;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
          }
        }

        .actual-img {
          width: 265px;
        }

        .actual-title {
          text-align: center;
          width: v.$mobile-s-width;
        }

        .price-container {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
          width: 100%;

          .actual-price {
            font-weight: v.$font-weight-700;
          }

          .actual-currency {
            display: flex;
            align-items: center;

            #currency {
              font-size: 22px;
            }
          }
        }
      }
    }
  }
}

//Media Queries
@media only screen and (min-width: v.$breakpoint-sm) {
  .bestsellers-container {
    width: v.$mobile-sm-width !important;
  }
}

@media only screen and (min-width: v.$breakpoint-m) {
  .bestsellers-container {
    width: v.$mobile-m-width !important;
  }
}
@media only screen and (min-width: v.$breakpoint-md) {
  .bestsellers-container {
    width: v.$tablet-width !important;
    padding-top: 5rem !important;
  }
}
@media only screen and (min-width: v.$breakpoint-lg) {
  .bestsellers-container {
    width: v.$desktop-m-width !important;
  }

  .bestsellers-actual {
    width: v.$mobile-m-width !important;
    .actual-img {
      width: 350px !important;
    }
  }
}
@media only screen and (min-width: v.$breakpoint-xl) {
  .bestsellers-container {
    width: v.$desktop-l-width !important;
  }

  .bestsellers-actual {
    width: 250px !important;
    .actual-img {
      width: 150px !important;
    }

    .actual-title {
      width: 220px !important;
    }
  }
  .bestsellers-actual-wrapper {
    flex-direction: row !important;
    gap: 2rem !important;
  }
}

@media only screen and (min-width: v.$breakpoint-xxl) {
  .bestsellers-container {
    width: v.$desktop-xl-width !important;
  }

  .bestsellers-actual {
    width: v.$mobile-m-width !important;
    .actual-img {
      width: v.$mobile-s-width !important;
    }
  }

  .bestsellers-actual-wrapper {
    flex-direction: row !important;
    gap: 1rem !important;
  }
}
