//Variables

$font-family: 'Charm', cursive;
$margin-top-home: 12rem;
$components-gap: 6rem;
////Main-Colors

$main-black: #000;
$main-white: #fff;
$main-vivid-orange: #fe5a0b;
$main-vivid-cyan: #13eef0;
$main-light-pink: #fe4e8c;
$main-soft-yellow: #f5de5d;
$main-lime-green: #7fd1a1;
$main-dark-blue: #051d35;

////Font-Weights

$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
