@use '../../../sass/variables' as v;
@forward '../../../sass/templates';

.teeshirts-wrapper {
  padding-top: v.$first-top-gap;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: v.$font-family;
  width: 100%;
  background-color: v.$main-white;

  .filter-input-genre {
    width: v.$mobile-s-width;
    margin-bottom: 2rem;
  }

  .teeshirts-title {
    font-size: v.$fs-h1;
    margin-bottom: 1rem;
  }

  .teeshirts-decor-line {
    content: '';
    width: v.$mobile-s-width;
    height: 2px;
    background-color: v.$main-gray;
    border-radius: 2px;
    margin-bottom: 2rem;
  }

  .teeshirts-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: v.$mobile-s-width;
    margin-bottom: v.$components-gap;

    .teeshirts-card {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 2px solid v.$main-black;
      border-radius: 8px;
      background-image: url('../../../assets/background-png/card-wave-black.png');
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: contain;
      background-color: v.$main-white;

      &:is(:hover, :focus-visible) {
        cursor: pointer;
        border: 2px solid v.$main-soft-yellow;
        background-image: url('../../../assets/background-png/card-wave.png');

        .teeshirts-card-title {
          background-color: v.$main-soft-yellow;
          color: v.$main-black;
        }

        .teeshirts-actual-price {
          color: v.$main-black;
        }
      }

      .teeshirts-card-title {
        font-size: v.$fs-xs;
        background-color: v.$main-black;
        color: v.$main-soft-yellow;
        height: 2.2rem;
        overflow: hidden;
        text-align: center;
        width: 100%;
      }

      a {
        text-decoration: none;
      }

      .teeshirts-card-img {
        height: 120px;
        width: 100px;
        padding-top: 2.5rem;
        padding-bottom: 1rem;
      }

      .addcart-countainer {
        .addcart {
          position: absolute;
          top: 15%;
          left: 0;
          background-color: v.$main-gray;
          font-size: v.$fs-h1;

          &:is(:hover, :focus-visible) {
            color: v.$main-white;
            cursor: pointer;
          }
        }
        .addcart-counter {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 25px;
          left: -5px;
          color: v.$main-white;
          background-color: v.$main-vivid-orange;
          border-radius: 50%;
          width: 15px;
          height: 15px;
          padding: 3px;
          font-size: v.$fs-xs;
        }
      }
    }

    .teeshirts-price-container {
      .teeshirts-actual-price {
        display: flex;
        align-items: center;
        color: v.$main-soft-yellow;
      }
    }
  }
}
