@use '../../../../sass/variables' as v;
@forward '../../../../sass/templates';

.footer-wrapper {
  font-family: v.$font-family;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: v.$main-black;
  color: v.$main-white;

  .decor-line {
    height: 2rem;
    width: 100%;
    background-color: v.$main-black;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    width: v.$mobile-s-width;

    .newsletter-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 1rem;
      margin-bottom: 3rem;

      .newsletter-title {
        margin-bottom: 2rem;
        font-size: 18px;
        font-weight: v.$font-weight-400;
        letter-spacing: 2px;
      }

      .newsletter-text {
        font-family: v.$font-family;
        color: v.$main-white;
        letter-spacing: 1px;
        font-size: 20px;
        width: v.$mobile-s-width;
      }

      .input-container {
        display: flex;
        justify-content: flex-start;

        input {
          font-family: v.$font-family;
          height: 3rem;
          width: 185px;
          outline: none;
          background-color: v.$main-black;
          color: v.$main-gray;
          padding-left: 1rem;
          border: 2px solid v.$main-soft-yellow;
          border-right: none;
          border-bottom-left-radius: 5px;
          border-top-left-radius: 5px;
          font-size: 17px;
          letter-spacing: 1px;

          &:focus {
            color: v.$main-white;
          }
        }

        button {
          font-family: v.$font-family;
          font-size: 16px;
          font-weight: v.$font-weight-600;
          outline: none;
          text-transform: uppercase;
          height: 3.25rem;
          width: 60px;
          border: 2px solid v.$main-soft-yellow;
          border-left: none;
          border-bottom-right-radius: 5px;
          border-top-right-radius: 5px;
          background-color: v.$main-soft-yellow;
          color: v.$main-black;

          &:is(:hover, :focus-visible, :active) {
            cursor: pointer;
          }
        }
      }

      .input-footer {
        font-family: v.$font-family;
        font-size: 14px;
        color: v.$main-gray;
        letter-spacing: 2px;

        a {
          text-decoration: none;
          color: v.$main-gray;

          &:is(:hover, :focus-visible) {
            text-decoration: underline;
            color: v.$main-soft-yellow;
          }
        }
      }
    }

    //Footer links

    .footer-links {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      text-align: center;
      gap: 2rem;

      .general,
      .info-order,
      .legal-info {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 0.2rem;
        width: 100%;

        .links-title {
          margin-bottom: 1.5rem;
          font-size: v.$fs-xl;
          font-weight: v.$font-weight-500;
          letter-spacing: 2px;
        }
        .footer-link {
          font-family: v.$font-family;
          font-weight: v.$font-weight-300;
          font-size: 20px;
          text-decoration: none;
          color: v.$main-gray;

          &:is(:hover, :focus-visible) {
            text-decoration: underline;
            color: v.$main-soft-yellow;
          }
        }
      }
    }
  }

  .copyright-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 3rem;

    .copyright {
      letter-spacing: 1px;
      font-size: v.$fs-xs;
    }

    .payment-card-container {
      margin-top: 0.5rem;
      .visa,
      .mastercard,
      .paypal {
        width: 100px;
      }
    }
  }
}
