@use '../../sass/variables' as v;

.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;

  .navbar-container {
    .navlinks-container {
      width: fit-content;
      display: flex;
      gap: 3rem;

      .navlink {
        font-family: v.$font-family;
        font-weight: v.$font-weight-700;
        font-size: 25px;
        list-style: none;
      }

      a {
        position: relative;
        display: flex;
        align-items: center;
        gap: 5px;
        text-decoration: none;
        color: v.$main-black;

        .skull {
          position: absolute;
          left: -22px;
          display: none;
        }

        &:is(:hover, :focus-visible) {
          color: v.$main-vivid-orange;
          cursor: pointer;

          .skull {
            display: block;
          }
        }
      }
    }
  }
}
