@use '../../sass/variables' as v;

.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-left: 2rem;
  padding-right: 2rem;

  .navbar-container {
    .navlinks-container {
      width: fit-content;
      display: flex;
      gap: 2rem;

      .navlink {
        font-family: v.$font-family;
        font-weight: v.$font-weight-700;
        font-size: 22px;
        list-style: none;
      }
    }
  }
}
