@use '../../sass/variables' as v;
@forward '../../sass/templates';

.btn-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: v.$components-gap;

  .btn-container {
    @extend %AllProductsBtnStyle;
  }
}
