@use '../../sass/variables' as v;
@forward '../../sass/templates';

.about-wrapper {
  width: 100%;

  .introduction-container {
    padding-left: 2rem;
    padding-right: 2rem;

    .title-bar {
      position: relative;

      .introduction-title {
        @extend %titleBars;

        &:is(:hover, :focus-visible) {
          cursor: pointer;
        }
      }

      .down-arrow {
        position: absolute;
        right: 5px;
        top: 8px;
        font-size: 25px;

        &:is(:hover, :focus-visible) {
          cursor: pointer;
        }
      }

      .up-arrow {
        position: absolute;
        right: 5px;
        top: 8px;
        font-size: 25px;

        &:is(:hover, :focus-visible) {
          cursor: pointer;
        }
      }
    }

    .introduction-text {
      z-index: 1;
      display: none;
    }
  }
}

.show {
  font-family: v.$font-family;
  font-weight: v.$font-weight-600;
  font-size: 20px;
  display: block;
  padding: 8px;
  padding-bottom: 15px;
  background-image: linear-gradient(v.$main-white, v.$main-soft-yellow 195%);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin-bottom: 3rem;

  animation: fadeText 1s ease-in-out;
}

//keyframes
@keyframes fadeText {
  0% {
    transform: translateY(-60px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
