@use '../../../sass/variables' as v;
@forward '../../../sass/templates';

.accessories-wrapper {
  padding-top: v.$first-top-gap;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: v.$font-family;
  width: 100%;
  background-color: v.$main-white;

  .filter-input-genre {
    width: v.$mobile-s-width;
    margin-bottom: 2rem;
  }

  .accessories-title {
    font-size: v.$fs-h1;
    margin-bottom: 1rem;
  }

  .accessories-decor-line {
    content: '';
    width: v.$mobile-s-width;
    height: 2px;
    background-color: v.$main-gray;
    border-radius: 2px;
    margin-bottom: 2rem;
  }

  .accessories-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: v.$mobile-s-width;
    margin-bottom: v.$components-gap;

    .accessories-card {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 2px solid v.$main-black;
      border-radius: 8px;
      background-image: url('../../../assets/background-png/card-wave-black.png');
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: contain;
      background-color: v.$main-white;

      &:is(:hover, :focus-visible) {
        cursor: pointer;
        border: 2px solid v.$main-soft-yellow;
        background-image: url('../../../assets/background-png/card-wave.png');

        .accessories-card-title {
          background-color: v.$main-soft-yellow;
          color: v.$main-black;
        }

        .accessories-actual-price {
          color: v.$main-black;
        }
      }

      .accessories-card-title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 138px;
        font-size: v.$fs-xs;
        background-color: v.$main-black;
        color: v.$main-soft-yellow;
        height: 2.1rem;
        overflow: hidden;
      }

      a {
        text-decoration: none;
      }

      .accessories-card-img {
        height: 100px;
        width: 100px;
        padding-top: 3rem;
        padding-bottom: 1rem;
      }

      .addcart-countainer {
        .addcart {
          position: absolute;
          top: 15%;
          left: 0;
          background-color: v.$main-gray;
          font-size: v.$fs-h1;

          &:is(:hover, :focus-visible) {
            color: v.$main-white;
            cursor: pointer;
          }
        }
        .addcart-counter {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 25px;
          left: -5px;
          color: v.$main-white;
          background-color: v.$main-vivid-orange;
          border-radius: 50%;
          width: 15px;
          height: 15px;
          padding: 3px;
          font-size: v.$fs-xs;
        }
      }
    }

    .accessories-price-container {
      // .accessories-lowered-price {
      // }
      .accessories-actual-price {
        display: flex;
        align-items: center;
        color: v.$main-soft-yellow;
      }
    }
  }
}

//Media Queries
@media only screen and (min-width: v.$breakpoint-m) {
  .filter-input-genre,
  .accessories-decor-line,
  .accessories-container {
    width: v.$mobile-m-width !important;
  }

  .accessories-card {
    background-position: 100% 110% !important;
  }

  .accessories-card-title {
    width: 258px !important;
    font-size: 12px !important;
  }

  .accessories-card-img {
    height: 140px !important;
    width: 120px !important;
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem;
  }
}
