.accessories-wrapper {
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Noto Sans", sans-serif;
  width: 100%;
  background-color: #fff;
}
.accessories-wrapper .filter-input-genre {
  width: 300px;
  margin-bottom: 2rem;
}
.accessories-wrapper .accessories-title {
  font-size: 38px;
  margin-bottom: 1rem;
}
.accessories-wrapper .accessories-decor-line {
  content: "";
  width: 300px;
  height: 2px;
  background-color: #a5a5a5;
  border-radius: 2px;
  margin-bottom: 2rem;
}
.accessories-wrapper .accessories-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 300px;
  margin-bottom: 6rem;
}
.accessories-wrapper .accessories-container .accessories-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #000;
  border-radius: 8px;
  background-image: url("../../../assets/background-png/card-wave-black.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  background-color: #fff;
}
.accessories-wrapper .accessories-container .accessories-card:is(:hover, :focus-visible) {
  cursor: pointer;
  border: 2px solid #f5de5d;
  background-image: url("../../../assets/background-png/card-wave.png");
}
.accessories-wrapper .accessories-container .accessories-card:is(:hover, :focus-visible) .accessories-card-title {
  background-color: #f5de5d;
  color: #000;
}
.accessories-wrapper .accessories-container .accessories-card:is(:hover, :focus-visible) .accessories-actual-price {
  color: #000;
}
.accessories-wrapper .accessories-container .accessories-card .accessories-card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 138px;
  font-size: 12px;
  background-color: #000;
  color: #f5de5d;
  height: 2.1rem;
  overflow: hidden;
}
.accessories-wrapper .accessories-container .accessories-card a {
  text-decoration: none;
}
.accessories-wrapper .accessories-container .accessories-card .accessories-card-img {
  height: 100px;
  width: 100px;
  padding-top: 3rem;
  padding-bottom: 1rem;
}
.accessories-wrapper .accessories-container .accessories-card .addcart-countainer .addcart {
  position: absolute;
  top: 15%;
  left: 0;
  background-color: #a5a5a5;
  font-size: 38px;
}
.accessories-wrapper .accessories-container .accessories-card .addcart-countainer .addcart:is(:hover, :focus-visible) {
  color: #fff;
  cursor: pointer;
}
.accessories-wrapper .accessories-container .accessories-card .addcart-countainer .addcart-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 25px;
  left: -5px;
  color: #fff;
  background-color: #fe5a0b;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  padding: 3px;
  font-size: 12px;
}
.accessories-wrapper .accessories-container .accessories-price-container .accessories-actual-price {
  display: flex;
  align-items: center;
  color: #f5de5d;
}

@media only screen and (min-width: 576px) {
  .filter-input-genre,
  .accessories-decor-line,
  .accessories-container {
    width: 540px !important;
  }
  .accessories-card {
    background-position: 100% 110% !important;
  }
  .accessories-card-title {
    width: 258px !important;
    font-size: 12px !important;
  }
  .accessories-card-img {
    height: 140px !important;
    width: 120px !important;
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem;
  }
}/*# sourceMappingURL=Accessories.css.map */