@use '../../../../sass/variables' as v;
@forward '../../../../sass/templates';

.navbar-wrapper {
  display: flex;
  justify-content: center;
  font-family: v.$font-family;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
  background-color: transparent;
  transition: top 0.3s;
  background-image: url('../../../../assets/background-png/bg-navbar.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: top -8px;

  .navbar-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    width: v.$mobile-s-width;

    a {
      color: v.$main-black;
    }

    //Disable desktop menu

    .navlinks-container {
      display: none;
    }

    //Mobile icon container

    .mobile-icon-container {
      z-index: 3;
      .menu-close {
        font-size: v.$fs-xl;
        color: v.$main-white;

        &:is(:hover, :focus-visible, :active) {
          cursor: pointer;
        }
      }

      .hamburger {
        font-size: v.$fs-xxl;

        &:is(:hover, :focus-visible, :active) {
          cursor: pointer;
          animation: menuShake 0.4s infinite;
        }
      }
    }

    //Cart icon container

    .cart-icon-container {
      position: relative;
      z-index: 4;

      .totalcartcount {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -25px;
        left: 3px;
        color: v.$main-white;
        background-color: v.$main-vivid-orange;
        border-radius: 50%;
        border: 2px solid v.$main-black;
        width: 12px;
        height: 12px;
        padding: 3px;
        font-size: v.$fs-xs;

        animation: cartCountAnimation 3s infinite cubic-bezier(0.895, 0.03, 0.685, 0.22);
      }

      .cart-icon {
        font-size: v.$fs-xxl;

        &:is(:hover, :focus-visible, :active) {
          cursor: pointer;
          animation: menuShake 0.4s infinite;
        }
      }
    }

    //Mobile menu

    .navbar-mobile {
      z-index: 2;
      position: absolute;
      top: 0;
      left: -1rem;
      height: 100vh;
      display: flex;
      flex-direction: column;
      gap: 4rem;
      padding-top: 6rem;
      background-color: v.$main-black;
      backdrop-filter: blur(50px);
      background-image: url('../../../../assets/background-png/bg-navbar.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position-y: top;
      background-position-x: left -425px;

      animation: 0.3s slideMenu cubic-bezier(0.895, 0.03, 0.685, 0.22);

      .navlinks {
        display: flex;
        flex-direction: column;

        a {
          position: relative;
          display: flex;
          align-items: center;
          gap: 5px;
          text-decoration: none;
          color: v.$main-soft-yellow;
          height: 4rem;
          padding-left: 1rem;

          .navlink {
            font-weight: v.$font-weight-700;
            font-size: v.$fs-l;
            list-style: none;
          }

          .skull-back {
            position: absolute;
            right: 10px;
            font-size: 22px;
            display: none;
          }

          &:is(:hover, :focus-visible, :active) {
            color: v.$main-black;
            background-color: v.$main-soft-yellow;
            cursor: pointer;

            .skull-back {
              display: block;
            }
          }
        }
      }
    }
  }
}

//Keyframes
@keyframes slideCart {
  0% {
    transform: translateX(320px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes slideMenu {
  0% {
    transform: translateX(-320px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes menuShake {
  0% {
    transform: rotate(0deg);
    transition: 0.2s ease-in;
  }
  20% {
    transform: rotate(15deg);
    transition: 0.2s ease-in;
  }
  50% {
    transform: rotate(-15deg);
    transition: 0.2s ease-in;
  }
  100% {
    transform: rotate(0);
    transition: 0.2s ease-in;
  }
}
@keyframes cartCountAnimation {
  0% {
    transform: translateY(0px);
    transition: 0.2s ease-in;
  }
  25% {
    transform: translateY(5px);
    transition: 0.2s ease-in;
  }
  50% {
    transform: translateY(0px);
    transition: 0.2s ease-in;
  }
  75% {
    transform: translateY(5px);
    transition: 0.2s ease-in;
  }
  100% {
    transform: translateY(0px);
    transition: 0.2s ease-in;
  }
}
