.navbar-wrapper {
  display: flex;
  justify-content: center;
  font-family: "Noto Sans", sans-serif;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
  background-color: transparent;
  transition: top 0.3s;
  background-image: url("../../../../assets/background-png/bg-navbar.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: top -8px;
}
.navbar-wrapper .navbar-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  width: 300px;
  padding-bottom: 3rem;
}
.navbar-wrapper .navbar-container a {
  color: #000;
}
.navbar-wrapper .navbar-container .navlinks-container {
  display: none;
}
.navbar-wrapper .navbar-container .mobile-icon-container {
  z-index: 3;
}
.navbar-wrapper .navbar-container .mobile-icon-container .menu-close {
  font-size: 24px;
  color: #fff;
}
.navbar-wrapper .navbar-container .mobile-icon-container .menu-close:is(:hover, :focus-visible, :active) {
  cursor: pointer;
}
.navbar-wrapper .navbar-container .mobile-icon-container .hamburger {
  font-size: 28px;
}
.navbar-wrapper .navbar-container .mobile-icon-container .hamburger:is(:hover, :focus-visible, :active) {
  cursor: pointer;
  animation: menuShake 0.4s infinite;
}
.navbar-wrapper .navbar-container .cart-icon-container {
  position: relative;
  z-index: 4;
}
.navbar-wrapper .navbar-container .cart-icon-container .totalcartcount {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -25px;
  left: 3px;
  color: #fff;
  background-color: #fe5a0b;
  border-radius: 50%;
  border: 2px solid #000;
  width: 12px;
  height: 12px;
  padding: 3px;
  font-size: 12px;
  animation: cartCountAnimation 3s infinite cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.navbar-wrapper .navbar-container .cart-icon-container .cart-icon {
  font-size: 28px;
}
.navbar-wrapper .navbar-container .cart-icon-container .cart-icon:is(:hover, :focus-visible, :active) {
  cursor: pointer;
  animation: menuShake 0.4s infinite;
}
.navbar-wrapper .navbar-container .navbar-mobile {
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
  z-index: 2;
  position: absolute;
  top: 0;
  left: -3rem;
  height: 100vh;
  width: 13rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-top: 6rem;
  background-color: #000;
  backdrop-filter: blur(50px);
  background-image: url("../../../../assets/background-png/bg-navbar.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: left -425px;
  animation: 0.3s slideMenu cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.navbar-wrapper .navbar-container .navbar-mobile .navlinks {
  display: flex;
  flex-direction: column;
}
.navbar-wrapper .navbar-container .navbar-mobile .navlinks a {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #f5de5d;
  height: 4rem;
  padding-left: 1rem;
  margin-right: 0.5rem;
}
.navbar-wrapper .navbar-container .navbar-mobile .navlinks a .navlink {
  font-weight: 700;
  font-size: 20px;
  list-style: none;
  margin-right: 1rem;
}
.navbar-wrapper .navbar-container .navbar-mobile .navlinks a .skull-back {
  position: absolute;
  right: 10px;
  font-size: 22px;
  display: none;
}
.navbar-wrapper .navbar-container .navbar-mobile .navlinks a:is(:hover, :focus-visible, :active) {
  color: #000;
  background-color: #f5de5d;
  cursor: pointer;
}
.navbar-wrapper .navbar-container .navbar-mobile .navlinks a:is(:hover, :focus-visible, :active) .skull-back {
  display: block;
}

@keyframes slideCart {
  0% {
    transform: translateX(320px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes slideMenu {
  0% {
    transform: translateX(-320px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes menuShake {
  0% {
    transform: rotate(0deg);
    transition: 0.2s ease-in;
  }
  20% {
    transform: rotate(15deg);
    transition: 0.2s ease-in;
  }
  50% {
    transform: rotate(-15deg);
    transition: 0.2s ease-in;
  }
  100% {
    transform: rotate(0);
    transition: 0.2s ease-in;
  }
}
@keyframes cartCountAnimation {
  0% {
    transform: translateY(0px);
    transition: 0.2s ease-in;
  }
  25% {
    transform: translateY(5px);
    transition: 0.2s ease-in;
  }
  50% {
    transform: translateY(0px);
    transition: 0.2s ease-in;
  }
  75% {
    transform: translateY(5px);
    transition: 0.2s ease-in;
  }
  100% {
    transform: translateY(0px);
    transition: 0.2s ease-in;
  }
}
@media only screen and (min-width: 325px) {
  .navbar-wrapper {
    background-position-y: -25px;
  }
}
@media only screen and (min-width: 390px) {
  .navbar-wrapper {
    background-size: cover;
    background-position-y: -38px;
  }
  .navbar-wrapper .navbar-container {
    width: 390px;
    padding-top: 0.2rem;
  }
}
@media only screen and (min-width: 440px) {
  .navbar-wrapper {
    background-position-y: -45px;
  }
}
@media only screen and (min-width: 460px) {
  .navbar-wrapper {
    background-position-y: -52px;
  }
}
@media only screen and (min-width: 480px) {
  .navbar-wrapper {
    background-position-y: -55px;
  }
  .navbar-wrapper .navbar-container {
    width: 460px;
    padding-top: 0.2rem;
  }
}
@media only screen and (min-width: 500px) {
  .navbar-wrapper {
    background-position-y: -61px;
  }
}
@media only screen and (min-width: 576px) {
  .navbar-wrapper .navbar-container {
    width: 540px;
  }
}
@media only screen and (min-width: 590px) {
  .navbar-wrapper {
    background-position-y: -75px;
  }
}
@media only screen and (min-width: 640px) {
  .navbar-wrapper {
    background-position-y: -85px;
  }
}
@media only screen and (min-width: 680px) {
  .navbar-wrapper {
    background-position-y: -95px;
  }
}
@media only screen and (min-width: 715px) {
  .navbar-wrapper {
    background-position-y: -105px;
  }
}
@media only screen and (min-width: 750px) {
  .navbar-wrapper {
    background-position-y: -115px;
  }
}
@media only screen and (min-width: 768px) {
  .navbar-wrapper .navbar-container {
    width: 730px;
  }
}
@media only screen and (min-width: 790px) {
  .navbar-wrapper {
    background-position-y: 27%;
    background-size: 100% !important;
    background-repeat: repeat-x;
  }
}
@media only screen and (min-width: 790px) {
  .navbar-wrapper .navbar-container {
    padding-bottom: 4rem;
  }
}
@media only screen and (min-width: 992px) {
  .navbar-wrapper {
    background-position-y: 27%;
  }
  .navbar-wrapper .navbar-container {
    width: 940px;
    padding-bottom: 5rem !important;
  }
  .navbar-wrapper .navbar-container .logo-container {
    position: relative;
    top: 1rem;
  }
  .navbar-wrapper .navbar-container .logo-container img {
    width: 130px;
  }
  .navbar-wrapper .navbar-container .navbar-mobile {
    display: none;
  }
  .navbar-wrapper .navbar-container .mobile-icon-container {
    display: none;
  }
  .navbar-wrapper .navbar-container .navlinks-container {
    margin-top: -2rem !important;
    display: flex;
  }
  .navbar-wrapper .navbar-container .navlinks-container .img-container {
    display: none !important;
  }
  .navbar-wrapper .navbar-container .navlinks-container .navlinks {
    display: flex;
  }
  .navbar-wrapper .navbar-container .navlinks-container .navlinks a {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: #000;
    height: 4rem;
    padding-left: 1rem;
    margin-right: 0.5rem;
  }
  .navbar-wrapper .navbar-container .navlinks-container .navlinks a .navlink {
    font-weight: 700;
    font-size: 16px;
    list-style: none;
    margin-right: 1rem;
  }
  .navbar-wrapper .navbar-container .navlinks-container .navlinks a .skull-back {
    position: absolute;
    top: 0;
    right: 40%;
    font-size: 22px;
    display: none;
  }
  .navbar-wrapper .navbar-container .navlinks-container .navlinks a:is(:hover, :focus-visible, :active) {
    color: #f5de5d;
    cursor: pointer;
  }
  .navbar-wrapper .navbar-container .navlinks-container .navlinks a:is(:hover, :focus-visible, :active) .skull-back {
    display: block;
  }
}/*# sourceMappingURL=Navbar.css.map */