.navbar-wrapper {
  display: flex;
  justify-content: center;
  font-family: "Noto Sans", sans-serif;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
  background-color: transparent;
  transition: top 0.3s;
  background-image: url("../../../../assets/background-png/bg-navbar.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: top -8px;
}
.navbar-wrapper .navbar-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  width: 300px;
}
.navbar-wrapper .navbar-container a {
  color: #000;
}
.navbar-wrapper .navbar-container .navlinks-container {
  display: none;
}
.navbar-wrapper .navbar-container .mobile-icon-container {
  z-index: 3;
}
.navbar-wrapper .navbar-container .mobile-icon-container .menu-close {
  font-size: 24px;
  color: #fff;
}
.navbar-wrapper .navbar-container .mobile-icon-container .menu-close:is(:hover, :focus-visible, :active) {
  cursor: pointer;
}
.navbar-wrapper .navbar-container .mobile-icon-container .hamburger {
  font-size: 28px;
}
.navbar-wrapper .navbar-container .mobile-icon-container .hamburger:is(:hover, :focus-visible, :active) {
  cursor: pointer;
  animation: menuShake 0.4s infinite;
}
.navbar-wrapper .navbar-container .cart-icon-container {
  position: relative;
  z-index: 4;
}
.navbar-wrapper .navbar-container .cart-icon-container .totalcartcount {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -25px;
  left: 3px;
  color: #fff;
  background-color: #fe5a0b;
  border-radius: 50%;
  border: 2px solid #000;
  width: 12px;
  height: 12px;
  padding: 3px;
  font-size: 12px;
  animation: cartCountAnimation 3s infinite cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.navbar-wrapper .navbar-container .cart-icon-container .cart-icon {
  font-size: 28px;
}
.navbar-wrapper .navbar-container .cart-icon-container .cart-icon:is(:hover, :focus-visible, :active) {
  cursor: pointer;
  animation: menuShake 0.4s infinite;
}
.navbar-wrapper .navbar-container .navbar-mobile {
  z-index: 2;
  position: absolute;
  top: 0;
  left: -1rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-top: 6rem;
  background-color: #000;
  backdrop-filter: blur(50px);
  background-image: url("../../../../assets/background-png/bg-navbar.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: left -425px;
  animation: 0.3s slideMenu cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.navbar-wrapper .navbar-container .navbar-mobile .navlinks {
  display: flex;
  flex-direction: column;
}
.navbar-wrapper .navbar-container .navbar-mobile .navlinks a {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #f5de5d;
  height: 4rem;
  padding-left: 1rem;
}
.navbar-wrapper .navbar-container .navbar-mobile .navlinks a .navlink {
  font-weight: 700;
  font-size: 20px;
  list-style: none;
}
.navbar-wrapper .navbar-container .navbar-mobile .navlinks a .skull-back {
  position: absolute;
  right: 10px;
  font-size: 22px;
  display: none;
}
.navbar-wrapper .navbar-container .navbar-mobile .navlinks a:is(:hover, :focus-visible, :active) {
  color: #000;
  background-color: #f5de5d;
  cursor: pointer;
}
.navbar-wrapper .navbar-container .navbar-mobile .navlinks a:is(:hover, :focus-visible, :active) .skull-back {
  display: block;
}

@keyframes slideCart {
  0% {
    transform: translateX(320px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes slideMenu {
  0% {
    transform: translateX(-320px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes menuShake {
  0% {
    transform: rotate(0deg);
    transition: 0.2s ease-in;
  }
  20% {
    transform: rotate(15deg);
    transition: 0.2s ease-in;
  }
  50% {
    transform: rotate(-15deg);
    transition: 0.2s ease-in;
  }
  100% {
    transform: rotate(0);
    transition: 0.2s ease-in;
  }
}
@keyframes cartCountAnimation {
  0% {
    transform: translateY(0px);
    transition: 0.2s ease-in;
  }
  25% {
    transform: translateY(5px);
    transition: 0.2s ease-in;
  }
  50% {
    transform: translateY(0px);
    transition: 0.2s ease-in;
  }
  75% {
    transform: translateY(5px);
    transition: 0.2s ease-in;
  }
  100% {
    transform: translateY(0px);
    transition: 0.2s ease-in;
  }
}/*# sourceMappingURL=Navbar.css.map */